{% extends 'mailing/base.html' %}

{% block title %}
Пользователи
{% endblock %}

{% block content %}

<h2 class="mb-4">
    Пользователи сервиса
</h2>

<table class="table table-striped">

    <thead>
        <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>Email</th>
            <th>Активен</th>
            <th>Действие</th>
        </tr>
    </thead>

    <tbody>

    {% for user in users %}

    <tr>
    
        <td>{{ user.id }}</td>

        <td>{{ user.username }}</td>

        <td>{{ user.email }}</td>

        <td>
            {% if user.is_active %}
                Да
            {% else %}
                Нет
            {% endif %}
        </td>

        <td>

            {% if user != request.user %}

                <a href="{% url 'users:toggle_active' user.pk %}"
                   class="btn btn-sm btn-warning">

                    {% if user.is_active %}
                        Заблокировать
                    {% else %}
                        Разблокировать
                    {% endif %}

                </a>

            {% endif %}

        </td>

    </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}